@using  HRAPP.Entities;

<h1>Employee Details</h1>
<hr/>

<p> Id : @Model.Id</p>
<p> FullName :  @Model.FirstName @Model.LastName</p>
<p> Email : @Model.Email</p>
<p> Address: @Model.Address</p>